/*!* ResponsiveBoilerplate v2.3.4 - 2014-08-02. 
* Author: Fernando Monteiro - Licensed under MIT license.
* Customized by: Kamil Paluch / kamil.paluch@yahoo.com 
*/
/*WARNING: Never change the CSS files. Use the respective LESS files,
otherwise your work here will be cleaned on next Grunt.js build*/

/* #Reset
================================================================================================= */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ClearFix
=============================================================================================== */

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

body > .clearfix {
  zoom: 1;
}

/* Media - Fluid Images - Video
============================================================================================== */

figure {
  margin: 0;
}

img,
object,
embed,
video {
  max-width: 100%;
}

body > img,
object,
embed,
video {
  width: 100%;
}

/* Fluid images */

img {
  height: auto;
  vertical-align: middle;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  -ms-interpolation-mode: bicubic;
}

/* Correct IE9 overflow */

svg:not(:root) {
  overflow: hidden;
}

/* Avoid Google maps broken with max-width 100% */

img[src*="maps.gstatic.com"],
img[src*="googleapis.com"] {
  max-width: none;
}

/* Links (No outline borders)
============================================================================================== */

a:focus {
  outline: 0;
}

/* Responsive Navigation Basic Style
===============================================================================================*/

#menu {
  display: none;
}

@media screen and (max-width: 768px) {
  #menu {
    display: inline-block;
    font-size: 1.35em;
    text-align: right;
    cursor: pointer;
    background: #dddddd;
  }
  #menu span {
    margin-right: 10px;
  }
  #nav {
    display: none;
  }
  #nav ul {
    padding: 2%;
    margin: 0 auto;
    background-color: #dddddd;
  }
  #nav li {
    display: block;
    width: 100%;
  }
}

/* Grid Columns
================================================================================================*/

/*We strong recommend use the container tag one time only, just to center your grids on the page*/

.container {
  padding-right: 0;
  padding-left: 0;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

/* Fluid Default grid for 1024px screen resolution, grid based for 940px*/

.content {
  width: 100%;
}

.content:before,
.content:after {
  display: table;
  line-height: 0;
  content: "";
}

.content:after {
  clear: both;
}

.content [class*="col"] {
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
}

.content [class*="col"]:first-child {
  margin-left: 0;
}

.content .col12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.content .col11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.content .col10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.content .col9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.content .col8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.content .col7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.content .col6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.content .col5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.content .col4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.content .col3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.content .col2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.content .col1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

/* Fluid grid to 1280px screen resolution, grid based for 1120px*/

@media (min-width: 1200px) {
  .content {
    width: 100%;
  }
  .content:before,
  .content:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .content:after {
    clear: both;
  }
  .content [class*="col"] {
    float: left;
    margin-left: 1.694915254237288%;
    *margin-left: 1.641723764875586%;
  }
  .content [class*="col"]:first-child {
    margin-left: 0;
  }
  .content .col12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .content .col11 {
    width: 91.52542372881356%;
    *width: 91.47223223945186%;
  }
  .content .col10 {
    width: 83.0508474576271%;
    *width: 82.99765596826539%;
  }
  .content .col9 {
    width: 74.57627118644066%;
    *width: 74.52307969707896%;
  }
  .content .col8 {
    width: 66.10169491525423%;
    *width: 66.04850342589252%;
  }
  .content .col7 {
    width: 57.6271186440678%;
    *width: 57.5739271547061%;
  }
  .content .col6 {
    width: 49.152542372881356%;
    *width: 49.099350883519655%;
  }
  .content .col5 {
    width: 40.677966101694906%;
    *width: 40.624774612333205%;
  }
  .content .col4 {
    width: 32.20338983050847%;
    *width: 32.15019834114677%;
  }
  .content .col3 {
    width: 23.728813559322035%;
    *width: 23.675622069960333%;
  }
  .content .col2 {
    width: 15.254237288135592%;
    *width: 15.20104579877389%;
  }
  .content .col1 {
    width: 6.779661016949152%;
    *width: 6.72646952758745%;
  }
}

@font-face {
  font-family: 'caviar_dreamsregular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.eot');
  src: url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.woff') format('woff'), url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.ttf') format('truetype'), url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
}

@font-face {
  font-family: 'caviar_dreamsbold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.eot');
  src: url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.woff') format('woff'), url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.ttf') format('truetype'), url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* CUSTOM STYLES */

/* apply a natural box layout model to all elements */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'caviar_dreamsregular';
  font-size: 17px;
  font-weight: normal;
  line-height: 24px;
  color: #777777;
}

a {
  color: #009ddc;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
          transition: color 0.3s linear;
}

a:hover {
  color: #000000;
}

.wrap {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

#comingsoon {
  width: 40%;
  height: 100%;
  max-width: 650px;
  min-width: 280px;
  margin: 0 auto;
}

#comingsoon img {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

#wrapper h2 {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear;
}

#header:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

#header #logoWrapper {
  position: relative;
  height: 100%;
}

#header #logo {
  height: 100%;
  padding: 10px 0;
  -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
}

#header #logoColor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  padding: 10px 0;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
}

#header #logoColor:hover {
  opacity: 1;
}

#header #menuHolder {
  display: table;
  height: 100%;
}

#header #menuHolder #nav {
  float: right;
}

#header #menuHolder #nav li {
  float: left;
  margin-right: 30px;
  font-size: 26px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#header #menuHolder #nav li:last-child {
  margin-right: 0;
}

#header #menuHolder #nav li#flagPLHolder {
  margin-right: 0;
}

#header #menuHolder #nav li a {
  color: #777777;
  -webkit-transition: color 0.3s linear;
          transition: color 0.3s linear;
}

#header #menuHolder #nav li #menu-home:hover {
  color: #333333;
}

#header #menuHolder #nav li #menu-services:hover {
  color: #009ddc;
}

#header #menuHolder #nav li #menu-about:hover {
  color: #fcb040;
}

#header #menuHolder #nav li #menu-contact:hover {
  color: #ed2124;
}

#header #menuHolder #nav li #menu-careers:hover {
  color: #333333;
}

#header #menuHolder #nav li #flagPL,
#header #menuHolder #nav li #flagUK {
  position: relative;
  bottom: 2px;
  height: 20px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.4;
  -webkit-box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
}

#header #menuHolder #nav li #flagPL:hover,
#header #menuHolder #nav li #flagUK:hover {
  opacity: 1;
}

#header #menuHolder #nav li #flagPL {
  margin-right: 10px;
}

#gallery {
  margin-top: 130px;
}

#gallery .swipe {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  visibility: hidden;
}

#gallery .swipe-wrap {
  position: relative;
  overflow: hidden;
}

#gallery .swipe-wrap > div {
  position: relative;
  float: left;
  width: 100%;
}

#gallery #galleryPrevBtn,
#gallery #galleryNextBtn {
  position: absolute;
  top: 44%;
  z-index: 1;
  height: 12%;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
}

#gallery #galleryPrevBtn:hover,
#gallery #galleryNextBtn:hover {
  opacity: 1;
}

#gallery #galleryPrevBtn {
  left: 3%;
}

#gallery #galleryNextBtn {
  right: 3%;
}

#services h2 {
  color: #009ddc;
}

#services p,
#services h4 {
  text-align: center;
}

#services .headlineHolder h4 {
  width: 90%;
  margin: 0 auto 20px auto;
  font-family: caviar_dreamsbold;
  text-transform: none;
}

#services .headlineHolder p {
  width: 60%;
  margin: 0 auto;
}

#services #servicesInfoHolder {
  margin-top: 30px;
}

#services #servicesInfoHolder p {
  padding: 30px 10px 0 10px;
  text-align: center;
}

#services #servicesInfoHolder .servicesIcon {
  width: 50%;
}

#services #servicesTrucks {
  text-align: center;
}

#services #servicesMaterials {
  text-align: center;
}

#services #servicesDestinations {
  text-align: center;
}

#about h2 {
  color: #fcb040;
}

#about img {
  border-radius: 20px;
}

#about .headlineHolder h4 {
  width: 90%;
  margin: 0 auto 20px auto;
  font-family: caviar_dreamsbold;
  text-align: center;
  text-transform: none;
}

#about .headlineHolder p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#about #aboutInfoHolder {
  margin-top: 50px;
}

#about #aboutInfoHolder h4 {
  color: #fcb040;
  text-transform: none;
}

#about #aboutInfoHolder p {
  padding-right: 20px;
  margin-top: 30px;
}

#about h3 {
  margin-top: 50px;
  color: #fcb040;
  text-align: center;
  text-transform: capitalize;
}

#about #teamImagesHolder {
  margin-top: 30px;
}

#about #teamImagesHolder img {
  width: 90%;
}

#about #teamImagesHolder .teamMember1 {
  text-align: left;
}

#about #teamImagesHolder .teamMember1 h6 {
  margin-right: auto;
  margin-left: 0;
}

#about #teamImagesHolder .teamMember2 {
  text-align: center;
}

#about #teamImagesHolder .teamMember2 h6 {
  margin-right: auto;
  margin-left: auto;
}

#about #teamImagesHolder .teamMember3 {
  text-align: right;
}

#about #teamImagesHolder .teamMember3 h6 {
  margin-right: 0;
  margin-left: auto;
}

#about #teamImagesHolder h6 {
  width: 90%;
  margin-top: 10px;
  text-align: center;
  text-transform: none;
}

#contact h2 {
  color: #ed2124;
}

#contact form {
  width: 100%;
  padding-right: 30px;
  margin-top: 30px;
}

#contact label {
  display: block;
  margin-top: 20px;
}

#contact input,
#contact textarea {
  padding: 10px;
  margin-top: 3px;
  font-family: 'caviar_dreamsregular';
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  background: transparent;
  border: 1px solid #dddddd;
  border-radius: 8px;
  outline: none;
}

#contact input:focus,
#contact textarea:focus {
  border-color: #009ddc;
}

#contact input {
  width: 60%;
  height: 40px;
}

#contact input#submit {
  width: 30%;
  margin-top: 20px;
  color: #009ddc;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear, color 0.3s linear;
          transition: background-color 0.3s linear, color 0.3s linear;
}

#contact input#submit:hover {
  color: #ffffff;
  background: #009ddc;
}

#contact textarea {
  width: 100%;
  height: 270px;
}

#contact #messageBoxResult {
  margin-top: 20px;
}

#contact #messageBoxResult.success {
  color: #009ddc;
}

#contact #messageBoxResult.warning {
  color: #fcb040;
}

#contact #messageBoxResult.fail {
  color: #ed2124;
}

#contact #googleMap {
  margin-top: 30px;
}

#contact #driveDirections {
  margin-top: 10px;
}

#careers h2 {
  color: #333333;
}

#footer {
  height: 100px;
  margin-top: 50px;
  background: #009ddc;
}

#footer p {
  color: #ffffff;
}

#footer a {
  color: #ffffff;
}

#footer a:hover {
  color: #000000;
}

#footer #address {
  display: table;
  height: 100%;
}

#footer #social {
  display: table;
  height: 100%;
  text-align: center;
}

#footer #social img {
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}

#footer #social img:hover {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}

#footer #social #facebookBtn {
  margin-right: 5px;
}

#footer #social #twitterBtn {
  margin-left: 5px;
}

#footer #rights {
  display: table;
  height: 100%;
  text-align: right;
}

/* General small screen Mobile down size from 768px, display all columns in block
============================================================================================== */

@media handheld, only screen and (max-width: 768px) {
  body {
    -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content {
    width: 100%;
  }
  [class*="col"],
  .content [class*="col"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .col12,
  .content .col12 {
    width: 100%;
  }
}

/* Custom sizes
============================================================================================== */

/* Add your styles for devices with a maximum width of 1024 */

@media screen and (max-width: 1024px) {
  {
    /* CUSTOM STYLES */
  
    /* apply a natural box layout model to all elements */
  
  }
  body {
    font-size: 15px;
    color: #555555;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 15px;
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  html,
  body {
    font-size: 14px;
    line-height: 20px;
  }
  #wrapper {
    padding: 0;
  }
  .wrap {
    padding: 0 20px;
  }
  #header {
    height: 80px;
  }
  #header #menuHolder #nav li {
    font-size: 20px;
  }
  #header #menuHolder #nav li #flagPL,
  #header #menuHolder #nav li #flagUK {
    height: 16px;
  }
  #gallery {
    margin-top: 100px;
  }
  #contact form {
    padding-right: 0;
  }
  #footer {
    height: 100px;
  }
  #footer #social img {
    height: 40px;
  }
  #footer #social #facebookBtn {
    margin-right: 3px;
  }
  #footer #social #twitterBtn {
    margin-left: 3px;
  }
}

/* Add your styles for devices with a maximum width of 768 */

@media screen and (max-width: 768px) {
  #wrapper h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #header {
    background: #ffffff;
  }
  #header:hover {
    background: #ffffff;
  }
  #header #menuHolder {
    height: auto;
  }
  #header #menu {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 30px;
    height: auto;
    padding: 0;
    margin-top: -15px;
    background: none;
  }
  #header #nav {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: right;
    background: #ffffff;
    -webkit-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
  }
  #header #nav li {
    padding: 0 20px 20px 10px;
  }
  #header #nav li span {
    float: right;
  }
  #header #nav li:first-child {
    padding-top: 20px;
  }
  #services h4,
  #services p {
    text-align: left;
  }
  #services .headlineHolder h4 {
    width: 100%;
    margin: 0 auto 10px auto;
  }
  #services .headlineHolder p {
    width: 100%;
  }
  #services #servicesInfoHolder {
    margin-top: 0;
  }
  #services #servicesInfoHolder p {
    padding: 20px 0 0 0px;
    text-align: left;
  }
  #services #servicesInfoHolder .servicesIcon {
    width: 40%;
    max-width: 150px;
  }
  #services #servicesInfoHolder #servicesDestinations {
    margin-top: 10px;
  }
  #about .headlineHolder h4 {
    width: 100%;
    margin: 0 auto 10px auto;
    text-align: left;
  }
  #about .headlineHolder p {
    width: 100%;
    text-align: left;
  }
  #about #aboutStaffHolder {
    margin-top: 30px;
  }
  #about #aboutStaffHolder img {
    width: 100%;
  }
  #about #aboutInfoHolder {
    margin-top: 50px;
  }
  #about #aboutInfoHolder h4 {
    text-align: center;
  }
  #about #aboutInfoHolder p {
    padding-right: 0;
    margin-top: 30px;
  }
  #about h3 {
    margin-top: 50px;
  }
  #about #teamImagesHolder {
    margin-top: 0;
  }
  #about #teamImagesHolder img {
    width: 100%;
    margin: 0 auto;
  }
  #about #teamImagesHolder .teamMember1,
  #about #teamImagesHolder .teamMember2,
  #about #teamImagesHolder .teamMember3 {
    margin-top: 30px;
    text-align: center;
  }
  #about #teamImagesHolder .teamMember1 h6,
  #about #teamImagesHolder .teamMember2 h6,
  #about #teamImagesHolder .teamMember3 h6 {
    margin-right: auto;
    margin-left: auto;
  }
  #about #teamImagesHolder h6 {
    width: 100%;
    text-align: center;
  }
  #contact #mapHolder {
    margin-top: 30px;
  }
  #footer {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
  }
  #footer #address {
    height: auto;
    text-align: center;
  }
  #footer #social {
    height: auto;
    text-align: center;
  }
  #footer #social img {
    height: 50px;
    margin: 20px 0;
    cursor: pointer;
  }
  #footer #rights {
    height: auto;
    text-align: center;
  }
}

/* Add your styles for devices with a maximum width of 480 */

@media screen and (max-width: 480px) {
  #header {
    height: 60px;
  }
  #header #nav {
    top: 60px;
  }
  #header #logo,
  #header #logoColor {
    padding: 5px 0;
  }
  #gallery {
    margin-top: 80px;
  }
  #gallery #galleryPrevBtn,
  #gallery #galleryNextBtn {
    top: 42%;
    height: 16%;
  }
  #contact #mapHolder #googleMap #gmap_canvas_holder {
    max-height: 300px;
  }
  #contact #mapHolder #googleMap #gmap_canvas {
    max-height: 300px;
  }
  #contact input#submit {
    width: 100%;
  }
  #contact textarea {
    height: 200px;
  }
}

/* Helpers for windows phone 8 */

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
}

/* Add your styles for devices with a maximum width of 320 */

@media screen and (max-width: 320px) {
  
}

/* iPads (landscape) and (portrait)  ----------- */

/* Add your styles for devices with a maximum width of 1024 */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  
}

/* Add your styles for devices with a maximum width of 768 */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  
}