/* General small screen Mobile down size from 768px, display all columns in block
============================================================================================== */
	@media handheld, only screen and (max-width: 768px) {

		body {
			-webkit-text-size-adjust: none;
			-ms-text-size-adjust: none;
		}
		.container {
			padding-left: 10px;
			padding-right: 10px;
		}
		.content {
			width: 100%;
		}

		[class*="col"],
		.content [class*="col"] {
			float: none;
			display: block;
			width: 100%;
			margin-left: 0;
		}
		.col12,
		.content .col12 {
			width: 100%;
		}
	}
/* Custom sizes
============================================================================================== */

    /* Add your styles for devices with a maximum width of 1024 */
	@media screen and (max-width: 1024px) {
		body {
			font-size: 15px;
			color: @gray-medium;
		}

		h1 {
			font-size: 48px;
		}
		h2 {
			font-size: 36px;
		}
		h3 {
			font-size: 24px;
		}
		h4 {
			font-size: 20px;
		}
		h5 {
			font-size: 16px;
		}
		h6 {
			font-size: 14px;
		}
		p {
			font-size: 15px;
		}


		/* CUSTOM STYLES */
		/* apply a natural box layout model to all elements */
		*, *:before, *:after {
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box; 
			box-sizing: border-box;
		}

		html, body {
			font-size: 14px;
			line-height: 20px;
		}
		#wrapper {
			padding: 0;
		}
		.wrap {
			padding: 0 20px;
		}
		#header {
			height: 80px;

			#logoWrapper {
				//width: 170px;
			}

			#menuHolder {

				#nav {
					li {
						font-size: 20px;

						#flagPL, #flagUK {
							height: 16px;
						}
					}
				}
			}
		}

		#gallery {
			margin-top: 100px;
		}

		#contact {
			//form section
			form {
				padding-right: 0;
			}
		}

		#footer {
			height: 100px;

			#social {

				img {
					height: 40px;
				}

				#facebookBtn {
					margin-right: 3px;
				}
				#twitterBtn {
					margin-left: 3px;
				}
			}
		}

	}

	/* Add your styles for devices with a maximum width of 768 */
	@media screen and (max-width: 768px) {

		#wrapper {
			h2 {
				margin-top: 50px;
				margin-bottom: 30px;
			}
		}

		//HEADER
		#header {

			background: @white;

			&:hover {
				background: @white;
			};

			#logoWrapper {
				//float: left;
			}

			#menuHolder {
				height: auto;
			}

			#menu {
				display: inline-block;
				position: absolute;
				right: 0;
				top: 50%;
				width: 30px;
				height: auto;
				margin-top: -15px;
				padding: 0;
				background: none;
			}

			#nav {
				position: absolute;
				top: 80px;
				left: 0;
				width: 100%;
				background: @white;
				text-align: right;
				-webkit-box-shadow: 0 7px 10px 0px rgba(0, 0, 0, 0.1);
				-moz-box-shadow:    0 7px 10px 0px rgba(0, 0, 0, 0.1);

				li {
					padding: 0px 20px 20px 10px;
					span {
						float: right;
					}

					&:first-child {
						padding-top: 20px;
					}	
				}
			}
		}

		//SERVICES
		#services {
			h4, p {
				text-align: left;
			}

			.headlineHolder {
				h4 {
					width: 100%;
					margin: 0 auto 10px auto;
				}

				p {
					width: 100%;
				}
			}

			#servicesInfoHolder {
				margin-top: 0px;

				p {
					padding: 20px 0px 0 0px;
					text-align: left;
				}

				.servicesIcon {
					width: 40%;
					max-width: 150px;
				}

				#servicesDestinations {
					margin-top: 10px;
				}
			}
		}

		//ABOUT
		#about {

			.headlineHolder {
				h4 {
					width: 100%;
					margin: 0 auto 10px auto;
					text-align: left;
				}

				p {
					width: 100%;
					text-align: left;
				}
			}

			#aboutStaffHolder {
				margin-top: 30px;

				img {
					width: 100%;
				}
			}

			#aboutInfoHolder {
				margin-top: 50px;

				h4 {
					text-align: center;
				}

				p {
					margin-top: 30px;
					padding-right: 0px;
				}
			}

			h3 {
				margin-top: 50px;
			}

			#teamImagesHolder {
				margin-top: 0px;

				img {
					width: 100%;
					margin: 0 auto;
				}

				.teamMember1, .teamMember2, .teamMember3 {
					margin-top: 30px;
					text-align: center;
					h6 {
						margin-left: auto;
						margin-right: auto;
					}
				}

				h6 {
					text-align: center;
					width: 100%;
				}
			}
		}

		//CONTACT
		#contact {
			#mapHolder {
				margin-top: 30px;
			}
		}

		//ABOUT
		#about {

		}

		

		//FOOTER
		#footer {
			height: auto;
			margin-top: 30px;
			padding-top: 20px;
			padding-bottom: 20px;

			#address {
				//display: none;
				height: auto;
				text-align: center;
			}
			
			#social {
				text-align: center;
				height: auto;

				img {
					height: 50px;
					cursor: pointer;
					margin: 20px 0;
				}
			}
			
			#rights {
				height: auto;
				text-align: center;
			}
		}

	}

	/* Add your styles for devices with a maximum width of 480 */
	@media screen and (max-width: 480px) {
		.wrap {
			//padding: 0 10px;
		}

		#header {
			height: 60px;

			#nav {
				top: 60px;
			}

			#logo, #logoColor {
				padding: 5px 0;
			}
		}

		#gallery {
			margin-top: 80px;

			#galleryPrevBtn, #galleryNextBtn {
				height: 16%;
				top: 42%;
			}
		}

		#contact {

			#mapHolder {

				#googleMap {

					#gmap_canvas_holder {
						max-height: 300px;
					}
					#gmap_canvas {
						max-height: 300px;
					}
				}
			}
			
			input {

				&#submit {
					width: 100%;
				}
			}

			textarea {
				height: 200px;
			}
			
		}
	}

	// Adjust for windows 8 viewport size
    /* Helpers for windows phone 8 */
	@media screen and (max-width:400px) {
		@-ms-viewport{
			width: device-width;
		}
		@viewport{
			width: device-width;
		}
	}

	/* Add your styles for devices with a maximum width of 320 */
	@media screen and (max-width: 320px) {

	}



	/* iPads (landscape) and (portrait)  ----------- */
    /* Add your styles for devices with a maximum width of 1024 */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

	}
    /* Add your styles for devices with a maximum width of 768 */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {

	}