// Responsive Boilerplate
// Author: Fernando Monteiro at www.responsiveboilerplate.com
// Licensed under MIT license, http://opensource.org/licenses/mit-license.php
// Copyright (c) 2013*/

//CSS customized by Kamil Paluch / kamil.paluch@yahoo.com


/*WARNING: Never change the CSS files. Use the respective LESS files,
otherwise your work here will be cleaned on next Grunt.js build*/

// Simple Reset but you can use normalize.css instead.
@import "reset.less";
// All the Magic is here.
// Grind Columns and some image, video helpers.
@import "gridColumns.less";
// Media Queries -> loaded at the bottom to override styles below.


//COLORS
@white:			#ffffff;
@black:			#000000;
@light-gray: 	#dddddd;
@gray:			#777777;
@gray-medium:	#555555;
@dark-gray:		#333333; 
@blue:			#0f75bc;//do not use
@blue-sky:		#15b6fe;//do not use
@blue-sea:		#009ddc;
@yellow:		#fcb040;
@orange:		#f15c29;
@red:			#ed2124;	

//SIZES
@header-height: 100px;
@footer-height: 120px;


//FONTS

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.eot');
    src: url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.woff') format('woff'),
         url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_regular_polish/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.eot');
    src: url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../fonts/caviardreams_bold_polish/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: normal;
}

h1 {
	font-size: 60px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 36px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}


/* CUSTOM STYLES */
/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: @gray;
	font-family: 'caviar_dreamsregular';
	font-size: 17px;
	font-weight: normal;
	line-height: 24px;
}

a {
	color: @blue-sea;
	text-decoration: none;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	&:hover {
		color: @black;
	}
}

.wrap {
	width: 100%;
	height: 100%;
	max-width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
}

//this requires parent to be display: table
.middle {
	display: table-cell;
	vertical-align: middle;	
}

//COMING SOON
#comingsoon {
    width: 40%;
    height: 100%;
    max-width: 650px;
    min-width: 280px;
    margin: 0 auto; 
}
#comingsoon img {
	width: 100%;
	height: auto;
	margin-top: 50px;
}

//WRAPPER
#wrapper {
	h2 {
		text-align: center;
		margin-top: 80px;
		margin-bottom: 50px;
	}
}

//HEADER
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: @header-height;	
	z-index: 2;
	background-color: rgba(255,255,255,0.8);
	-webkit-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         0px 5px 10px 0px rgba(0, 0, 0, 0.2);

	&:hover {
		background-color: rgba(255,255,255,0.95);
	}
	
	#logoWrapper {
		position: relative;
		height: 100%;
	}

	#logo {
		padding:10px 0;
		height: 100%;
		-webkit-transition: opacity 0.3s linear;
		transition: opacity 0.3s linear;
	}
	#logoColor {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		height:100%;
		opacity: 0;
		cursor: pointer;
		padding: 10px 0;
		-webkit-transition: opacity 0.3s linear;
		transition: opacity 0.3s linear;

		&:hover {
			opacity: 1;
		}
	}

	#menuHolder {
		display: table;
		height: 100%;

		#nav {
			float: right;

			li {
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				float: left;
				text-transform: uppercase;
				font-size: 26px;
				margin-right: 30px;
				line-height: 1;

				&:last-child {
					margin-right: 0;
				}

				&#flagPLHolder {
					margin-right: 0;
				}

				a {
					color: @gray;
					-webkit-transition: color 0.3s linear;
					transition: color 0.3s linear;
				}
				#menu-home:hover 		{ color: @dark-gray; }
				#menu-services:hover 	{ color: @blue-sea; }
				#menu-about:hover	 	{ color: @yellow; }
				#menu-contact:hover 	{ color: @red; }
				#menu-careers:hover 	{ color: @dark-gray; }

				span {
					//display: table-cell;
					//vertical-align: middle;
				}

				#flagPL, #flagUK {
					position: relative;
					bottom: 2px;
					height: 20px;
					opacity: 0.4;
					cursor: pointer;
					border-radius: 5px;
					-webkit-transition: opacity 0.3s linear;
					transition: opacity 0.3s linear;
					-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
					-moz-box-shadow:    0px 0px 1px 0px rgba(0, 0, 0, 0.5);
					box-shadow:         0px 0px 1px 0px rgba(0, 0, 0, 0.5);

					&:hover {
						opacity: 1;
					}
				}
				#flagPL {
					margin-right: 10px;
				}
			}
		}
	}

	
}

//GALLERY
#gallery {
	margin-top: 130px; //@header-height + 30px;
	.swipe {
		max-width:1280px;
		margin:0 auto;
		overflow: hidden;
		visibility: hidden;
		position: relative;
	}
	.swipe-wrap {
		overflow: hidden;
		position: relative;
	}
	.swipe-wrap > div {
		float:left;
		width:100%;
		position: relative;
	}

	#galleryPrevBtn, #galleryNextBtn {
		position: absolute;
		height: 12%;
		top: 44%;
		z-index: 1;
		cursor: pointer;
		opacity: 0.6;
		-webkit-transition: opacity 0.3s linear;
		transition: opacity 0.3s linear;
		&:hover {
			opacity: 1;
		}
	}

	#galleryPrevBtn {
		left: 3%;
	}
	#galleryNextBtn {
		right: 3%;
	}
}

//SERVICES
#services {
	h2 {
		color: @blue-sea;
	}
	
	p, h4 {
		text-align: center;
	}

	.headlineHolder {
		h4 {
			font-family: caviar_dreamsbold;
			text-transform: none;
			width: 90%;
			margin: 0 auto 20px auto;
		}

		p {
			width: 60%;
			margin: 0 auto;
		}
	}

	#servicesInfoHolder {
		margin-top: 30px;

		p {
			padding: 30px 10px 0 10px;
			text-align: center;
		}

		.servicesIcon {
			width: 50%;
		}
	}



	#servicesTrucks {
		text-align: center;
	}

	#servicesMaterials {
		text-align: center;
	}

	#servicesDestinations {
		text-align: center;
	}
}

//ABOUT
#about {
	h2 {
		color: @yellow;
	}

	img {
		border-radius: 20px;
	}

	.headlineHolder {
		h4 {
			font-family: caviar_dreamsbold;
			text-transform: none;
			width: 90%;
			margin: 0 auto 20px auto;
			text-align: center;
		}

		p {
			width: 60%;
			margin: 0 auto;
			text-align: center;
		}
	}

	#aboutInfoHolder {
		margin-top: 50px;

		h4 {
			text-transform: none;
			color: @yellow;
		}

		p {
			margin-top: 30px;
			padding-right: 20px;
		}
	}

	h3 {
		text-align: center;
		color: @yellow;
		text-transform: capitalize;
		margin-top: 50px;
	}

	#teamImagesHolder {
		margin-top: 30px;

		img {
			width: 90%;
		}

		.teamMember1 {
			text-align: left;
			h6 {
				margin-left: 0;
				margin-right: auto;
			}
		}
		.teamMember2 {
			text-align: center;
			h6 {
				margin-left: auto;
				margin-right: auto;
			}
		}
		.teamMember3 {
			text-align: right;
			h6 {
				margin-left: auto;
				margin-right: 0;
			}
		}

		h6 {
			text-transform: none;
			margin-top: 10px;
			text-align: center;
			width: 90%;
		}
	}
}


//CONTACT
#contact {
	h2 {
		color: @red;
	}

	//form section
	form {
		width: 100%;
		margin-top: 30px;
		padding-right: 30px;
	}
	label {
		display: block;
		margin-top: 20px;
	}
	input, textarea {
		font-family: 'caviar_dreamsregular';
		font-weight: normal;
		background:transparent;
		border: 1px solid @light-gray;
		padding: 10px;
		margin-top: 3px;
		font-size: 14px;
		color: @dark-gray;
		border-radius: 8px;
		outline: none;

		&:focus {
			border-color: @blue-sea;
		}
	}
	input {
		width: 60%;
		height: 40px;
		&#submit {
			width: 30%;
			text-transform: uppercase;
			margin-top: 20px;
			color: @blue-sea;
			cursor: pointer;
			-webkit-transition: background-color 0.3s linear, color 0.3s linear;
			transition: background-color 0.3s linear, color 0.3s linear;

			&:hover {
				background: @blue-sea;
				color: @white;
				
			}
		}
	}
	textarea {
		width: 100%;
		height:270px;
	}
	#messageBoxResult {
		margin-top: 20px;

		&.success {
			color: @blue-sea;
		}
		&.warning {
			color: @yellow;
		}
		&.fail {
			color: @red;
		}
		
	}

	//map section
	#googleMap {
		margin-top: 30px;
	}
	#driveDirections {
		margin-top: 10px;
	}
}

//CAREERS
#careers {
	h2 {
		color: @dark-gray;
	}
}


#footer {
	background: @blue-sea;
	height: 100px;
	margin-top: 50px;

	p {
		color: @white;
	}

	a {
		color: @white;

		&:hover {
			color: @black;
		}
	}

	#address {
		display: table;
		height: 100%;
	}
	
	#social {
		display: table;
		text-align: center;
		height: 100%;

		img {
			height: 50px;
			cursor: pointer;
			-webkit-transition: all 0.1s linear;
			transition: all 0.1s linear;

			&:hover {
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				-o-transform: scale(1.2);
				transform: scale(1.2);
			}
		}
		#facebookBtn {
			margin-right: 5px;
		}
		#twitterBtn {
			margin-left: 5px;
		}
	}
	
	#rights {
		display: table;
		height: 100%;
		text-align: right;
	}
}



// Keep this file at last to overhide the desktop style.
@import "mediaqueries.less";